<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>Sample</title>
		<meta name="author" content="ryanjan" />
		<meta name="description" content="Sample" />

		<!-- FAVICON FILES -->
		<link href="<%= require('./images/web_content/favicon.png') %>" rel="shortcut icon" />

		<!-- SOCIAL MEDIA META -->
		<meta property="og:image" content="<%= require('./images/web_content/description.jpg') %>" />
		<meta property="og:site_name" content="Sample" />
		<meta property="og:title" content="Sample" />
		<meta property="og:description" content="Sample" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="" />

		<!-- FONTS -->
		<link rel="preload" as="style" href="//fonts.googleapis.com/earlyaccess/notosanstc.css" />
		<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanstc.css" />

		<% for (var css of htmlWebpackPlugin.files.css) { %>
		<link href="<%= css %>" rel="stylesheet" />
		<% } %> <% for (const js of htmlWebpackPlugin.files.js) { if(js.includes('head')) { %>
		<script src="<%= js %>" defer></script>
		<% } } %>
	</head>
	<body>
		<div id="div_start" class="bg" style="display: none">
			<div class="content">
				<img class="logo" src="<%= require('./images/ui/start_logo.png') %>" draggable="false" />
				<img class="hint" src="<%= require('./images/ui/start_hint.png') %>" draggable="false" />
				<img id="btn_start_go" class="is_can_click" src="<%= require('./images/ui/start_go.png') %>" data-enable="true" draggable="false" />
			</div>
		</div>

		<div id="div_game" class="bg" style="display: none">
			<div class="content">
				<img class="logo" src="<%= require('./images/ui/start_logo.png') %>" draggable="false" />
				<img id="item_1" src="<%= require('./images/ui/game_item_1_unget.png') %>" draggable="false" />
				<img id="item_2" src="<%= require('./images/ui/game_item_2_unget.png') %>" draggable="false" />
				<img id="item_3" src="<%= require('./images/ui/game_item_3_unget.png') %>" draggable="false" />
				<img id="item_4" src="<%= require('./images/ui/game_item_4_unget.png') %>" draggable="false" />
				<img id="btn_game_redeem" class="is_can_click" src="<%= require('./images/ui/game_unredeem.png') %>" data-enable="false" draggable="false" />
			</div>
		</div>

		<div id="div_redeem" class="bg" style="display: none">
			<div class="content">
				<img class="content_bg" src="<%= require('./images/ui/redeem_bg.png') %>" draggable="false" />
				<img id="btn_redeem_confirm" class="is_can_click" src="<%= require('./images/ui/redeem_confirm.png') %>" data-enable="true" draggable="false" />
				<img id="btn_redeem_cancel" class="is_can_click" src="<%= require('./images/ui/redeem_cancel.png') %>" data-enable="true" draggable="false" />
			</div>
		</div>
		<% for (const js of htmlWebpackPlugin.files.js) { if(js.includes('app')) { %>
		<script src="<%= js %>" defer></script>
		<% } } %>
	</body>
</html>
